<% if @hastitle == true %>
<h3></h3>
<% end %>

<div class="flickr-gallery">
  <% for photo in @photos %>
  <a href="<%= photo[1] %>" ><img title="<%= photo[2] %>" src="<%= photo[0] %>" /></a>
  <% end %>
</div>