- for photo in @photos
  %a{:href => get_photo(photo['id'], "Medium")}
    %img#thumb{:src => get_photo(photo['id'], "Square"), :alt => get_description(photo['id']), :title => get_title(photo['id'])}
